@font-face {
    font-family: 'HakgyoansimWoojuR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimWoojuR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'HakgyoansimWoojuR', sans-serif; /* 'omyu_pretty' 폰트를 사용하도록 설정 */
}

* {
    margin: 0;
    padding: 0;
}


/* 네비게이션바 스타일 */
.navbar {
    background-color: #fff; /* 흰색 배경색 */
    padding: 10px; /* 위 아래 여백과 좌우 여백을 줍니다 */
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed; /* 고정 위치 설정 */
    top: 0; /* 화면 맨 위에 고정 */
    width: 100%; /* 네비게이션 바 전체 너비 */
    z-index: 1000; /* 다른 요소들 위에 표시되도록 설정 */
}

/* 네비게이션바 하단에 검은색 구분선 스타일 */
.navbar::after {
    content: ""; /* 가상 요소 생성 */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; /* 네비게이션 바 전체 너비 */
    height: 1px; /* 높이를 조절하여 구분선의 두께를 설정하세요 */
    background-color: #999; /* 검은색 구분선 */
}

/* .navbar + .content가 구분선과 겹치지 않도록 여백 조절 */
.content {
    margin-top: 2%; /* 구분선의 높이만큼 컨텐츠를 아래로 내림 */
}

/* J PEOPLE 스타일 */
.navbar-left {
    text-align: center;
    margin-left: 15px;
    margin-right: auto; /* J PEOPLE 우측 여백 추가 */
    font-weight: 900; /* 더 두껍게 설정 */
    font-size: 1.7em; /* J PEOPLE 글자 크기 조절 */
}

/* 상단바 우측 정렬 */
.navbar-right {
    display: flex;
    gap: 10px;
    align-items: center;
}

/* 하단바 스타일 */
.footer {
    text-align: center;
    background-color: #fff; /* 흰색 배경색 */
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0; /* 좌측 여백 없애기 */
    font-weight: bolder;
    border-top: 1px solid #999; /* 상단에 검은색 밑줄 추가 */
}

/* 글씨 크기 늘리기 */
.navbar, .navbar a, .footer {
    font-size: 1.1em;
}

/* 간격 늘리기 */
.navbar-right a {
    text-decoration: none; /* 밑줄 제거 */
    font-weight: bold; /* 링크 글씨의 굵기를 기본 값으로 설정 */
    margin-left: 10px; /* 각 링크 사이의 간격 늘리기 */
    margin-right: 10px; /* 각 링크 우측 여백 추가 */
    color: #444444; /* 글자색을 검은색으로 설정 */
}

.navbar-left:hover {
    text-decoration: none; /* 밑줄 제거 */
    cursor: pointer; /* 커서 모양을 포인터로 변경 */
}

.content {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 45% 55%;
    height: 100vh; /* 화면의 높이를 100%로 설정합니다. */
    margin-left: 5%; /* 좌측 여백을 5%로 설정합니다. */
}

.board-section {
    width: 85%; /* 가로 크기를 100%로 설정합니다. */
    height: 125%; /* 세로 크기를 100%로 설정합니다. */
    background-color: #E6E6E6; /* 배경색을 지정합니다. */
    border-radius: 30px; /* 테두리 둥글기를 설정합니다. */
    border: 1px solid #D8D8D8; /* 테두리 색상을 지정합니다. */
    /* 다른 스타일링을 원하시면 여기에 추가하세요. */
}

/* CSS 파일에 추가하세요 */
.latest-posts {
    list-style: none; /* 리스트 스타일 제거 */
    padding-left: 0px; /* 좌측 간격 제거 */
}

.notifications-section {
    width: 75%; /* 가로 크기를 100%로 설정합니다. */
    height: 125%; /* 세로 크기를 100%로 설정합니다. */
    background-color: #E6E6E6; /* 배경색을 지정합니다. */
    border-radius: 30px; /* 테두리 둥글기를 설정합니다. */
    border: 1px solid #D8D8D8; /* 테두리 색상을 지정합니다. */
    /* 다른 스타일링을 원하시면 여기에 추가하세요. */
}

/* CSS 파일에 추가하세요 */
.latest-notification {
    list-style: none; /* 리스트 스타일 제거 */
    padding-left: 0px; /* 좌측 간격 제거 */
}

.info-item.post-title a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

h3 a {
    color: black; /* 글자색을 검은색으로 설정 */
    text-decoration: none; /* 밑줄 제거 */
}

.post-info {
    display: flex;
    justify-content: space-between;
}

.post-title:hover {
    cursor: pointer;
}

/* 아이콘 스타일 */
.navbar-left img {
    height: 40px; /* 원하는 크기로 조절하세요 */
    margin-right: 2px; /* 아이콘과 텍스트 사이의 간격 조절 */
}

/* 최대 7자로 표시되도록 설정 */
.info-item.post-title a {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

.info-item.post-title {
    flex: 1;
    text-align: left;
    border-bottom: 1px solid #ccc;
    padding: 10px 30px; /* 위아래 패딩을 추가해 여백을 조절합니다. */
}

.post-title a {
    display: block;
}

.info-item.post-nickname {
    flex: 1;
    text-align: right;
    border-bottom: 1px solid #ccc;
    padding: 10px 0px; /* 위아래 패딩을 추가해 여백을 조절합니다. */
}

.info-item.post-time {
    flex: 1;
    text-align: right;
    border-bottom: 1px solid #ccc;
    padding: 10px 30px; /* 위아래 패딩을 추가해 여백을 조절합니다. */
}

/*.alarm-list {*/
/*    display: none;*/
/*    max-height: 200px; !* 알림 목록의 최대 높이 지정 *!*/
/*    overflow-y: auto; !* 목록이 최대 높이를 넘을 경우 스크롤 생성 *!*/
/*    padding: 10px; !* 내부 여백 조절 *!*/
/*    background-color: #f9f9f9;*/
/*    border: 1px solid #ccc;*/
/*}*/

/* 알림 리스트 스타일 */
.dropdown-content {
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

.alarm-list {
    list-style: none;
    padding: 0;
}

.alarm-list li {
    border-bottom: 1px solid #848484; /* 회색 실선 구분선 추가 */
    padding: 8px 0; /* 알림 간 간격 조정 */
    max-width: 90%; /* 알림 가로 길이를 줄임 */
    margin: 0 auto; /* 가운데 정렬 */
}

.alarm-list li:hover {
    background-color: #E6E6E6;
    cursor: pointer;
}

#alarmDropdown {
    max-width: 300px; /* 알림 컨테이너의 최대 가로 너비 설정 */
    margin: 0 auto; /* 가운데 정렬을 위한 margin 추가 */
    padding: 10px; /* 내부 여백 설정 */
}

/* 알림 read 상태에 따른 배경색 설정 */
.alarm-list .read {
    background-color: #E6E6E6; /* 회색 배경색 */
}

.alarm-list .unread {
    background-color: #fff; /* 흰색 배경색 */
}

.alarm-list h3 {
    cursor: default; /* 마우스 커서 이벤트를 기본값(default)으로 설정하여 아무 변화가 없게 함 */
}