<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 프로젝트</title>
    <link rel="stylesheet" href="/css/index.css">

</head>
<body>

<!-- 상단바 -->
<div class="navbar">
    <div class="navbar-left">
        J PEOPLE
    </div>
    <div class="navbar-right">
        <a href="/api/view/notification">공지사항</a>
        <a href="/api/view/board">자유게시판</a>
        <a href="/api/view/schedule">일정관리</a>
        <a href="/api/view/mypage">마이페이지</a>
    </div>
</div>

<!-- 페이지 내용 (중앙 부분) -->
<!-- 여기에 내용 추가 -->

<!-- 하단바 -->
<div class="footer">
    대표: 남건욱
</div>

</body>
</html>
