<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J PEOPLE</title>
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
</head>
<body>

<!-- 상단바 -->
<div class="navbar">
    <div class="navbar-left">
        <img src="https://cdn-icons-png.flaticon.com/512/6819/6819196.png" alt="icon">
        J PEOPLE
    </div>
    <div class="navbar-right">
        <a href="/api/view/login" class="login-button">로그인</a>
        <a href="/" class="logout-button" onclick="logout()" style="display:none;" >로그아웃</a>
        <a href="/api/view/notification">공지사항</a>
        <a href="/api/view/board">자유게시판</a>
        <a href="/api/view/schedule">일정관리</a>
        <a href="/api/view/mypage">마이페이지</a>
        <div class="alarm-wrapper">
            <a href="#" class="alarm-icon" onclick="toggleNotification()">
                <img src="/images/bell.png" alt="알림 아이콘" style="width: 30px; height: 30px; margin-right: 20px">
                <span class="alarm-badge" style="display:none;">3</span>
            </a>
            <div class="dropdown-content" id="alarmDropdown" style="display: none;">
            <!-- 알림 리스트가 표시될 부분 -->
            <ul class="alarm-list">
                <li>
                    <h3 style="font-weight: bold; text-align: center;">알림</h3>
                </li>
                <!-- 이하 알림 목록이 추가될 자리 -->
            </ul>
        </div>
        </div>
    </div>
</div>

<div class="content">

    <div class="board-section text-center">
        <h3 style="font-size: 50px; font-weight: bold; padding-bottom: 25px">
            <img src="/images/board.png" alt="Board Image" style="width: 50px; height: 50px; margin-right: 5px;">
            <a href="/api/view/board" style="vertical-align: middle;">자유게시판</a>
        </h3>
        <ul class="latest-posts" style="font-size: 25px">
        </ul>
    </div>

    <div class="notifications-section text-center">
        <h3 style="font-size: 50px; font-weight: bold; padding-bottom: 25px">
            <img src="/images/notification.png" alt="notification Image" style="width: 50px; height: 50px; margin-right: 5px;">
            <a href="/api/view/notification" style="vertical-align: middle;">공지사항</a>
        </h3>
        <ul class="latest-notification" style="font-size: 25px">
        </ul>
    </div>

    <div class="calculator-section" style="background-color: #A9BCF5; margin-top: 20%; width: 130px; height: 180px; border-radius: 30px; border: 1px solid #D8D8D8;
            display: flex; justify-content: center; align-items: center">
<!--        background-color: red; padding-top: 200px; width: 300px; height: 300px" >-->
        <div style="text-align: center">
            <a href="/api/view/calculator" style="text-decoration: none; color: inherit;">
                <h3 style="font-weight: bold">계산기</h3>
                <img src="/images/calculator.png" alt="calculator Image" style="width: 80px; height: 80px;">
            </a>
        </div>
    </div>
</div>



<!-- 페이지 내용 (중앙 부분) -->
<!-- 여기에 내용 추가 -->

<!-- 하단바 -->
<div class="footer">
    대표: 남건욱
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const alarmList = document.querySelector('.alarm-list');

        alarmList.addEventListener('click', function(event) {
            const clickedItem = event.target.closest('li');
            if (!clickedItem) return;

            // 알림 리스트 클릭 시 해당 주소로 이동
            const address = clickedItem.getAttribute('data-address');
            if (address) {
                window.location.href = address;
            }
        });
    });

    function toggleNotification() {
        const dropdown = document.getElementById('alarmDropdown');
        const alarmList = document.querySelector('.alarm-list');

        if (dropdown.style.display === 'none' || dropdown.style.display === '') {
            fetch('/api/alarm/list')
                .then(response => response.json())
                .then(data => {
                    const reversedNotifications = data.reverse(); // 알림을 역순으로 변경합니다.
                    const listItems = reversedNotifications.map(notification => {
                        const listItem = document.createElement('li');
                        listItem.setAttribute('data-address', notification.address); // 주소를 설정합니다.

                        // 알림 내용을 표시합니다.
                        const notificationContent = document.createElement('span');
                        notificationContent.innerHTML = notification.contents;

                        // read 상태에 따라 클래스 추가
                        if (notification.read) {
                            listItem.classList.add('read');
                        } else {
                            listItem.classList.add('unread');
                        }

                        listItem.appendChild(notificationContent);
                        return listItem;
                    });

                    listItems.forEach(item => {
                        alarmList.appendChild(item);
                    });
                })
                .catch(error => console.error('에러 발생:', error));

            dropdown.style.display = 'block';
        } else {
            dropdown.style.display = 'none';
        }
    }







    // 페이지의 자유게시판, 공지사항 클릭시 로그인 요청
    // document.addEventListener('DOMContentLoaded', function() {
    //     const boardSection = document.querySelector('.board-section');
    //     const notificationSection = document.querySelector('.notifications-section');
    //
    //     boardSection.addEventListener('click', function(e) {
    //         e.preventDefault();
    //         handleLinkClick('/api/view/board');
    //     });
    //
    //     notificationSection.addEventListener('click', function(e) {
    //         e.preventDefault();
    //         handleLinkClick('/api/view/notification');
    //     });
    // });

    // 네비게이션바의 공지사항, 자유게시판, 일정관리, 마이페이지를 눌렀을때 로그인 요청
    document.addEventListener('DOMContentLoaded', function() {
        const notificationLink = document.querySelector('a[href="/api/view/notification"]');
        const boardLink = document.querySelector('a[href="/api/view/board"]');
        const scheduleLink = document.querySelector('a[href="/api/view/schedule"]');
        const mypageLink = document.querySelector('a[href="/api/view/mypage"]');

        notificationLink.addEventListener('click', function(e) {
            e.preventDefault();
            handleLinkClick('/api/view/notification');
        });

        boardLink.addEventListener('click', function(e) {
            e.preventDefault();
            handleLinkClick('/api/view/board');
        });

        scheduleLink.addEventListener('click', function(e) {
            e.preventDefault();
            handleLinkClick('/api/view/schedule');
        });

        mypageLink.addEventListener('click', function(e) {
            e.preventDefault();
            handleLinkClick('/api/view/mypage');
        });

    });


    // 토큰체크
    function handleLinkClick(link) {
        var token = Cookies.get('Authorization');

        if (token) {
            window.location.href = link;
        } else {
            showLoginConfirmation();
        }
    }

    // 로그인 요청, 이동
    function showLoginConfirmation() {
        if (confirm("로그인이 필요합니다. 로그인 하시겠습니까?")) {
            window.location.href = '/api/view/login';
        }
    }

    // 게시물 작성 시간을 표시하는 함수
    function getTimeAgoString(postTime) {
        const now = new Date();
        const postDate = new Date(postTime);
        const timeDiff = now - postDate;
        const seconds = Math.floor(timeDiff / 1000);
        const minutes = Math.floor(seconds / 60);
        const hours = Math.floor(minutes / 60);
        const days = Math.floor(hours / 24);
        const months = Math.floor(days / 30);
        const years = Math.floor(months / 12);

        if (years > 0) {
            return years + '년 전';
        } else if (months > 0) {
            return months + '달 전';
        } else if (days > 0) {
            return days + '일 전';
        } else if (hours > 0) {
            return hours + '시간 전';
        } else if (minutes > 0) {
            return minutes + '분 전';
        } else {
            return '방금 전';
        }
    }

    document.addEventListener('DOMContentLoaded', function() {
        const navbarLeft = document.querySelector('.navbar-left');
        const latestPostsList = document.querySelector('.latest-posts');
        const latestNotificationList = document.querySelector('.latest-notification');
        const loginButton = document.querySelector('.login-button');
        const logoutButton = document.querySelector('.logout-button');

        // checkCookie() 함수 추가
        function checkCookie() {
            var token = Cookies.get('Authorization');

            if (token) {
                // 토큰이 있을 때, 로그아웃 버튼을 보여줍니다.
                loginButton.style.display = 'none';
                logoutButton.style.display = 'block';
            } else {
                // 토큰이 없을 때, 로그인 버튼을 보여줍니다.
                loginButton.style.display = 'block';
                logoutButton.style.display = 'none';
            }
        }

        checkCookie();  // 페이지 로드 시 호출

        navbarLeft.addEventListener('mouseover', function() {
            navbarLeft.style.color = '#FF5733'; // 원하는 색상으로 변경
        });

        navbarLeft.addEventListener('mouseout', function() {
            navbarLeft.style.color = ''; // 마우스를 떼면 원래 색상으로 돌아감
        });

        navbarLeft.addEventListener('click', function() {
            window.location.href = '/';
        });

        fetch('/api/posts')
            .then(response => response.json())
            .then(data => {
                // 최신 게시글 목록을 가져온 후 처리하는 부분
                data.slice(0, 7).forEach(post => {
                    const listItem = document.createElement('li');
                    const postInfo = document.createElement('div');
                    var token = Cookies.get('Authorization');
                    postInfo.classList.add('post-info');

                    const postTitle = document.createElement('span');
                    postTitle.classList.add('info-item', 'post-title', 'font-weight-bold');
                    const titleLink = document.createElement('a');
                    const commentCount = post.commentResponseDtoList ? post.commentResponseDtoList.length : 0; // 댓글 개수

                    if(token) {
                        titleLink.href = '/api/view/boarddetail?id=' + post.id;
                    } else{
                        titleLink.addEventListener('click', function(e) {
                            e.preventDefault();
                            showLoginConfirmation();
                        });
                    }
                    const truncatedTitle = post.title.length > 8 ? post.title.substring(0, 8) + '...' : post.title;
                    titleLink.innerHTML = `${truncatedTitle} ${commentCount > 0 ? `[<strong>${commentCount}</strong>]` : ''}`;
                    postTitle.appendChild(titleLink);


                    const nickname = document.createElement('span');
                    nickname.classList.add('info-item', 'post-nickname');
                    nickname.textContent = post.nickname;

                    // 게시물 작성 시간 추가
                    const postTime = document.createElement('span');
                    postTime.classList.add('info-item', 'post-time');
                    postTime.textContent = getTimeAgoString(post.createdAt); // created_at은 게시물 작성 시간 정보입니다.


                    postInfo.appendChild(postTitle);
                    postInfo.appendChild(nickname);
                    postInfo.appendChild(postTime); // 게시물 작성 시간을 추가합니다.

                    listItem.appendChild(postInfo);
                    latestPostsList.appendChild(listItem);
                });
            })
            .catch(error => console.error('에러 발생:', error));

        fetch('/api/notificationposts')
            .then(response => response.json())
            .then(data => {
                // 최신 게시글 목록을 가져온 후 처리하는 부분
                data.slice(0, 7).forEach(post => {
                    const listItem = document.createElement('li');
                    const postInfo = document.createElement('div');
                    postInfo.classList.add('post-info');
                    var token = Cookies.get('Authorization');

                    const postTitle = document.createElement('span');
                    postTitle.classList.add('info-item', 'post-title', 'font-weight-bold');
                    const titleLink = document.createElement('a');
                    const commentCount = post.commentResponseDtoList ? post.commentResponseDtoList.length : 0; // 댓글 개수

                    if(token) {
                        titleLink.href = '/api/view/boarddetail?id=' + post.id;
                    } else{
                        titleLink.addEventListener('click', function(e) {
                            e.preventDefault();
                            showLoginConfirmation();
                        });
                    }
                    const truncatedTitle = post.title.length > 8 ? post.title.substring(0, 8) + '...' : post.title;
                    titleLink.innerHTML = `${truncatedTitle} ${commentCount > 0 ? `[<strong>${commentCount}</strong>]` : ''}`;
                    postTitle.appendChild(titleLink);


                    const nickname = document.createElement('span');
                    nickname.classList.add('info-item', 'post-nickname');
                    nickname.textContent = post.nickname;

                    // 게시물 작성 시간 추가
                    const postTime = document.createElement('span');
                    postTime.classList.add('info-item', 'post-time');
                    postTime.textContent = getTimeAgoString(post.createdAt); // created_at은 게시물 작성 시간 정보입니다.


                    postInfo.appendChild(postTitle);
                    postInfo.appendChild(nickname);
                    postInfo.appendChild(postTime); // 게시물 작성 시간을 추가합니다.

                    listItem.appendChild(postInfo);
                    latestNotificationList.appendChild(listItem);
                });
            })
            .catch(error => console.error('에러 발생:', error));

    });

    function logout() {
        var xhr = new XMLHttpRequest();
        xhr.open('DELETE', '/api/logout', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function () {
            if (xhr.status === 200) {
                // 로그아웃 성공
                window.location.href = '/'; // 로그아웃 후 홈페이지로 리다이렉트
            } else {
                // 로그아웃 실패
                alert('로그아웃 실패. 다시 시도하세요.');
            }
        };
        xhr.onerror = function () {
            console.error('Network Error');
        };
        xhr.send();
    }




</script>

</body>
</html>
