<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>
    <link rel="stylesheet" href="/css/mypage.css">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
</head>
<body>

<!-- 상단바 -->
<div class="navbar">
    <div class="navbar-left">
        J PEOPLE
    </div>
    <div class="navbar-right">
        <a href="/api/view/login" class="login-button">로그인</a>
        <a href="/" class="logout-button" onclick="logout()" style="display:none;" >로그아웃</a>
        <a href="/api/view/notification">공지사항</a>
        <a href="/api/view/board">자유게시판</a>
        <a href="/api/view/schedule">일정관리</a>
        <a href="/api/view/mypage">마이페이지</a>
    </div>
</div>

<div class="button-container">
    <div>
        <button type="button" class="btn btn-outline-light profile">프로필</button>
    </div>
    <div>
        <button type="button" class="btn btn-outline-light posts">작성한 게시글</button>
    </div>
    <div>
        <button type="button" class="btn btn-outline-light comments">작성한 댓글</button>
    </div>
</div>

<div class="profile-container">
    <h2>프로필 정보</h2>
    <div class="profile-content">
        <!-- 프로필 정보를 여기에 표시 -->
    </div>
</div>

<!-- 페이지 내용 (중앙 부분) -->
<!-- 여기에 내용 추가 -->

<!-- 하단바 -->
<div class="footer">
    대표: 남건욱
</div>

<div class="bottom">
    <!-- 유저 정보를 출력할 공간 -->
    <div class="fixed-info">
        <span class="info-item">제목</span>
        <span class="info-item">닉네임</span>
        <span class="info-item">작성시간</span>
    </div>
    <div class="user-info-list">
        <div class="post-info">
            <span class="info-item post-title">제목</span>
            <span class="info-item post-nickname">닉네임</span>
            <span class="info-item post-time">작성시간</span>
        </div>
        <!-- 여기에 각 페이지별로 유저 정보가 출력될 것입니다. -->
    </div>
    <!-- 페이지 네비게이션 -->
    <div class="pagination">
        <!-- 페이지 번호 버튼들이 여기에 생성될 것입니다. -->
    </div>
</div>



<script>
    document.addEventListener('DOMContentLoaded', function() {
        const navbarLeft = document.querySelector('.navbar-left');
        const loginButton = document.querySelector('.login-button');
        const logoutButton = document.querySelector('.logout-button');
        const profileButton = document.querySelector('.profile') // 프로필 버튼 선택
        const postsButton = document.querySelector('.posts'); // 작성한 게시글 버튼 선택
        const commentsButton = document.querySelector('.comments'); // 작성한 게시글 버튼 선택

        profileButton.addEventListener('click', function() {
            loadProfileInformation();
        });

        postsButton.addEventListener('click', function() {
            fetchAndRenderPosts(); // 버튼을 클릭하면 fetchAndRenderPosts 함수 실행
        });

        // checkCookie() 함수 추가
        function checkCookie() {
            var token = Cookies.get('Authorization');

            if (token) {
                // 토큰이 있을 때, 로그아웃 버튼을 보여줍니다.
                loginButton.style.display = 'none';
                logoutButton.style.display = 'block';
            } else {
                // 토큰이 없을 때, 로그인 버튼을 보여줍니다.
                loginButton.style.display = 'block';
                logoutButton.style.display = 'none';
            }
        }

        checkCookie();  // 페이지 로드 시 호출

        navbarLeft.addEventListener('mouseover', function() {
            navbarLeft.style.color = '#FF5733'; // 원하는 색상으로 변경
        });

        navbarLeft.addEventListener('mouseout', function() {
            navbarLeft.style.color = ''; // 마우스를 떼면 원래 색상으로 돌아감
        });

        navbarLeft.addEventListener('click', function() {
            window.location.href = '/';
        });
    });

    function loadProfileInformation(){
        const profileContent = document.querySelector('.profile-content');

        // 프로필 정보 불러오기
        fetch('/api/mypage/profile', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            },
            credentials: 'same-origin'
        })
            .then(response => response.json())
            .then(data => {
                // 프로필 정보를 HTML에 추가
                profileContent.innerHTML = `
            <p>닉네임: ${data.nickname}</p>
            <p>아이디: ${data.username}</p>
            <p>자기소개: ${data.introduction}</p>
            <!-- 추가 필요한 프로필 정보 -->
        `;
            })
            .catch(error => console.error('Error:', error));

    }

    const userPerPage = 15;
    const userInfoList = document.querySelector('.user-info-list');
    const paginationContainer = document.querySelector('.pagination');


    let currentPage = 1;
    let posts = [];

    paginationContainer.addEventListener('click', event => {
        if (event.target.classList.contains('page-button')) {
            currentPage = parseInt(event.target.dataset.page);

            const buttons = paginationContainer.querySelectorAll('.page-button');

            // 모든 버튼에서 'active' 클래스를 제거합니다.
            buttons.forEach(button => button.classList.remove('active'));

            // 클릭된 페이지 버튼에 'active' 클래스를 추가합니다.
            event.target.classList.add('active');

            renderPostsForPage(currentPage);

        }
    });

    // 작성한 게시물 조회 API와 연결
    function fetchAndRenderPosts() {
        const profileContainer = document.querySelector('.profile-container');
        const userInfoList = document.querySelector('.user-info-list');

        // 프로필 컨테이너를 숨기고, 유저 정보 리스트를 보이게 설정
        profileContainer.style.display = 'none';
        userInfoList.style.display = 'block';

        fetch('/api/mypage/posts', {
            method: 'GET',
            headers: {
                'Authorization': 'Bearer ' + localStorage.getItem('accessToken')
            }
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to fetch posts');
                }
                return response.json();
            })
            .then(responsePosts => {
                posts = responsePosts;
                totalPosts = posts.length;
                renderPagination();
                userInfoList.innerHTML = '';
                renderPostsForPage(currentPage);
            })
        // .catch(error => console.error('Error fetching posts:', error));
    }

    function renderPagination() {
        let totalPages;

        totalPages = Math.ceil(posts.length / userPerPage);

        paginationContainer.innerHTML = '';

        for (let i = 1; i <= totalPages; i++) {
            const pageButton = document.createElement('button');
            pageButton.classList.add('page-button');

            if (i === currentPage) {
                pageButton.classList.add('active'); // 현재 페이지일 경우 'active' 클래스 추가
            }

            pageButton.textContent = i;
            pageButton.dataset.page = i;
            paginationContainer.appendChild(pageButton);
        }
    }

    function renderPostsForPage(page) {
        const startIndex = (page - 1) * userPerPage;
        const endIndex = startIndex + userPerPage;
        const postsToShow = posts.slice(startIndex, endIndex);

        userInfoList.innerHTML = '';

        postsToShow.forEach(post => {
            const postDiv = document.createElement('div');
            postDiv.classList.add('user-info');

            const dateParts = post.createdAt.split('T');
            const date = dateParts[0];
            const time = dateParts[1].split('.')[0]; // Remove milliseconds

            const formattedDateTime = `${date} ${time}`;

            const postData = {
                id: post.id,
                title: post.title,
                contents: post.contents
            };
            postDiv.innerHTML = `
                    <div class="post-info">
                        <span class="info-item post-title">
                                <a href="/api/view/boarddetail?id=${post.id}">${post.title}</a>
                        </span>
                        <span class="info-item">${post.nickname}</span>
                        <span class="info-item">${formattedDateTime}</span>
                    </div>

        `;
            userInfoList.appendChild(postDiv);
        });
    }

    function logout() {
        var xhr = new XMLHttpRequest();
        xhr.open('DELETE', '/api/logout', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function () {
            if (xhr.status === 200) {
                // 로그아웃 성공
                window.location.href = '/'; // 로그아웃 후 홈페이지로 리다이렉트
            } else {
                // 로그아웃 실패
                alert('로그아웃 실패. 다시 시도하세요.');
            }
        };
        xhr.onerror = function () {
            console.error('Network Error');
        };
        xhr.send();
    }

</script>

</body>
</html>
